<div class="hero-unit">
  <div class="row">
    <div class="span7">
      <h1>Create your own wall.</h1>
      <p><strong>Whatsupwall</strong> is a simple service that allow you to create and publish your
        Twitter wall based on a search string.</p>
      <p>Try it now!</p>
      <%= link_to 'Create an account', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
    </div>

    <img src="http://upload.wikimedia.org/wikipedia/commons/1/10/Dry_stone_wall_in_the_yorkshire_dales_detail.jpg" width="300" class="pull-right">
  </div>
</div>
